

/* FOR PHONE */
@media (min-width:320px) {

body{
  margin: 0px;
  background-color:  lightgray;
}
main{
  margin-left: 10%;
  margin-right: 10%;
}
h1{
  text-align: center;
}
.welcome_text{
  text-align: center;
  color: red;
  font-size: 300%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.text{
  text-align: center;
  color: red;
  font-size: 300%;
  
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.sub_text {
  text-align: center;
  color: red;
  font-size: 200%;
  padding: 10px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.text_contact{
  text-align: center;
  color: white;
  font-size: 150%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-bottom:10%;
}
.text_email{
    text-align: center;
    color: white;
    font-size: 200%;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  .text_company{
    text-align: center;
    color: white;
    font-size: 300%;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  .text_asap{
    text-align: center;
    color: white;
    font-size: 200%;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
.text_services {
  text-align: center;
  color: black;
  font-size: 250%;
  padding-left: 5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.text_faq{
    text-align: center;
    color:  black;
    font-size: 250%;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }


.list li{
  list-style: none;
  text-align: center;
  color:black;
  font-size: 150%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.last_item{
  padding-bottom: 30px;
}
ul{
  
    padding-bottom: 1%;
}
.logo{
  display: flex;
  height: auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;  
}

.logo img {
  width: 20%;
  height: auto;
}
.small_logo{
  display: flex;
  height: auto;
  width: 70%;
  justify-content: center;
}
.header-container{
  display: flex;

  align-items: center;
  background-color: rgb(204,
    204,
    204);
}
.navbar {
  width: 100%;

  display: flex;
  justify-content: center;
  overflow: hidden;
  
}
.navbar ul{
  width: 100%;
  list-style-type: none;
  background-color: gray;
  text-align: center;
  margin: 0px;
  overflow: hidden;
  border-radius: 10px;

}
.navbar a{
  color: white;
  text-decoration: none;
  padding: 10px;

  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: rgb(65, 128, 217);
}
.navbar li{
  float: inline-end;
  
  
}
.phoneNumberButton{
  color: white;
  background-color: green;
  padding: 5%;
  border-radius: 10px;
  font-size: larger;
}
.phoneNumberButton:hover {
  background-color: green;;
    transform: scale(1.2);

}

.faqs-container {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 10vh;
}
.faqs-container .questions-container{
    box-shadow: 0 4px 8px -3px rgb(65, 128, 217);
  }
  .faqs-container h2{
    padding: 4px 32px;
    font-size: 28px;
  }
  .faqs-container .faq-header {
    display: flex;
    background: rgb(65, 128, 217);
    color:white;
    align-items:center;
    position: relative;
    cursor: pointer;
  }
  .faqs-container .faq-header .open,
  .faqs-container .faq-header .close {
    position: absolute;
    right: 0;
    padding: 0 32px;
    font-size: 22px;
    font-weight: bold;
    transform: translateY(-8px);
    opacity: 0;
    transition: all 500ms;
  }
  .faqs-container .faq-header .open.active,
  .faqs-container .faq-header .close.active {
    opacity: 1;
    transform: translateY(0);
  }
  .faqs-container .faq-header h3{
    font-size: 20px;
    padding: 0 32px;
  }
.faqs-container .content{
  padding: 0 32px;
  background: white;
  line-height: 2;
  max-height: 0;
  overflow: hidden;
  transition: all 500ms;
}
.faqs-container .content.active{
  max-height: 600px;
}
footer{
  padding:2%;
    background-color: gray;
    color:white;
    text-align: center;
    
}
}

@media (min-width:1281px){
  body{
    margin: 0px;
    background-color:  white;
  }
  main{
    margin-left: 20px;
    margin-right: 20px;
  }
  h1{
    text-align: center;
  }
  .welcome_text{
    padding: 30px;
    text-align: center;
    color: red;
    font-size: 550%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  .text{
    text-align: center;
    color: red;
    font-size: 300%;
    padding: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  .sub_text {
    text-align: center;
    color: red;
    font-size: 200%;
    padding: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  .text_contact{
    text-align: center;
    color: white;
    font-size: 300%;
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom:10%;
  }
  .text_email{
      text-align: center;
      color: white;
      font-size: 200%;
      padding: 10px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    .text_company{
      text-align: center;
      color: white;
      font-size: 300%;
      padding: 10px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    .text_asap{
      text-align: center;
      color: white;
      font-size: 300%;
      padding: 0;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
  .text_services {
    text-align: center;
    color: black;
    font-size: 250%;
    padding-left: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  .text_faq{
      text-align: center;
      color:  black;
      font-size: 250%;
      padding: 10px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
  .text_photos{
    text-align: center;
    color: black;
    font-size: 250%;
    padding-left: 5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }

  .list li{
    list-style: none;
    text-align: center;
    padding: 3px;
    color:black;
    font-size: 200%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .last_item{
    padding-bottom: 30px;
  }
  ul{
    padding-bottom: 10px;
  }
  .logo{
    padding-left: 37.5%;
    
    display: flex;
    height: auto;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 30%;  
  }

  .logo img {
    width: 20%;
    height: auto;
  }
  .small_logo{
  
    display: flex;
    height: auto;
    width: 70%;
    justify-content: center;
  }
  .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(204,
      204,
      204);
    padding: 10px;

  }

  .navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }
  .navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
  }
  .navbar a:hover{
    background-color: rgb(65, 128, 217);
  }
  .navbar li{
    float: inline-end;
  }
  .phoneNumberButton{
    color: white;
    background-color: green;
    padding: 20px;
    border-radius: 10px;
    font-size: larger;
  }
  .phoneNumberButton:hover {
    background-color: green;;
      transform: scale(1.2);

  }

  .faqs-container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 10vh;
  }
  .faqs-container .questions-container{
      box-shadow: 0 4px 8px -3px rgb(65, 128, 217);
    }
    .faqs-container h2{
      padding: 4px 32px;
      font-size: 28px;
    }
    .faqs-container .faq-header {
      display: flex;
      background: rgb(65, 128, 217);
      color:white;
      align-items:center;
      position: relative;
      cursor: pointer;
    }
    .faqs-container .faq-header .open,
    .faqs-container .faq-header .close {
      position: absolute;
      right: 0;
      padding: 0 32px;
      font-size: 22px;
      font-weight: bold;
      transform: translateY(-8px);
      opacity: 0;
      transition: all 500ms;
    }
    .faqs-container .faq-header .open.active,
    .faqs-container .faq-header .close.active {
      opacity: 1;
      transform: translateY(0);
    }
    .faqs-container .faq-header h3{
      font-size: 20px;
      padding: 0 32px;
    }
  .faqs-container .content{
    padding: 0 32px;
    background: white;
    line-height: 2;
    max-height: 0;
    overflow: hidden;
    transition: all 500ms;
  }
  .faqs-container .content.active{
    max-height: 600px;
  }
  footer{
    padding:2%;
      background-color: gray;
      color:white;
      text-align: center;
      
  }
}



/* @media only screen and (min-width: 600px) {

  .text_company{
    display:none;
  }
  .header-container{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .welcome_text{
    text-align: center;
    color: red;
    font-size: 300%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
  .text_asap{
        text-align: center;
        color: white;
        font-size: 100%;
        
  }
    .list li {
      list-style: none;
      text-align: center;
      padding: 3px;
      color: white;
      font-size: 100%;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    .text_services {
      text-align: center;
      color: white;
      font-size: 150%;
      padding: 10px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    .text_faq {
      text-align: center;
      color: white;
      font-size: 150%;
      padding: 10px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
.phoneNumberButton {
  color: white;
  background-color: green;
  padding: 20px;
  border-radius: 10px;
  font-size: large;
}

.phoneNumberButton:hover {
  background-color: green;
  transform: scale(1.2);
}
} */
